/* 1201 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --color-background: #ffffff;
    --color-main: #2570EF;
    --color-text: #ffffff;
    --color-orange: #FF8D29;
    --color-orange-o: rgba(225, 131, 41, 0.6);
    --color-red: #FF4E73;
    --color-red-o: rgba(225, 68, 115, 0.6);
    --color-purple: #590696;
    --color-purple-o: rgba(79, 6, 90, 0.6);
    --color-green: #38E54D;
    --color-green-o: rgba(56, 199, 67, 0.6);
    --color-darkBlue: #0041B0;
    --color-hole: #255EEF;
    --color-shadow: rgb(0 0 0 / 25%);
    --url-background: url("./../img/whiteWall.png");
    --url-hanger: url("./../img/hanger.png");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

a {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
}

.app {
    background-image: var(--url-background);
    background-size: contain;
    padding: 50px 55px;
    min-height: 100vh;
    transition: 400ms;
}

.app .background {
    background-color: var(--color-background);
    padding: 30px;
    box-shadow: 0px 10px 10px var(--color-shadow);
    transition: 400ms;
}

.app .main {
    background-color: var(--color-main);
    padding: 50px 100px;
    transition: 400ms;
    position: relative;
}


/********************************************************************/


/****************************** Header ******************************/


/********************************************************************/

.app header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app header .logo {
    height: 100px;
    background: var(--color-hole);
    box-shadow: inset 0px 0px 10px var(--color-shadow);
    transition: 400ms;
}

.app header .logo a {
    transition: 400ms all;
}

.app header .logo a img {
    height: 100%;
}

.app header .picture {
    width: 110px;
    height: 55px;
    background-image: var(--url-hanger);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 400ms;
}

.app header .picture img {}

.app header .options {
    display: flex;
    align-items: center;
    gap: 20px;
}

.app header .options div {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: var(--color-hole);
    box-shadow: inset 0px 0px 5px var(--color-shadow);
    transition: 400ms;
}

.app header .options .langs {
    overflow: hidden;
}

.app header .options .langs a {
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms all;
    transition: 400ms;
}

.app header .options .langs a:hover,
.langs {
    background: var(--color-shadow);
    transition: 400ms;
}

.app header .options .langs a span {}

.app header .options .langs a span.tr {}

.app header .options .langs a span.en {
    display: none;
}

.app header .options .dark-light-mode {
    overflow: hidden;
}

.app header .options .dark-light-mode a {
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms all;
}

.app header .options .dark-light-mode a:hover,
.dark-light-mode {
    background-color: var(--color-shadow);
    transition: 400ms;
}

.app header .options .dark-light-mode a span {}

.app header .options .dark-light-mode a span.moon {}

.app header .options .dark-light-mode a span.sun {
    display: none;
}


/********************************************************************/


/****************************** Fix Header ******************************/


/********************************************************************/

.app .header-relative {
    position: relative;
}

.app .fix-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.app .fix-header.change {
    position: fixed;
    top: 0;
    left: 53px;
    background-color: var(--color-background);
    padding: 15px 30px;
    width: 90vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.app .fix-header .page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.app .fix-header .page:nth-child(1) {
    background-color: var(--color-darkBlue);
}

.app .fix-header .page:nth-child(2) {
    background-color: var(--color-orange);
}

.app .fix-header .page:nth-child(3) {
    background-color: var(--color-red);
}

.app .fix-header .page:nth-child(4) {
    background-color: var(--color-purple);
}

.app .fix-header .page:nth-child(5) {
    background-color: var(--color-green);
}

.app .fix-header .page a {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    padding: 20px;
    width: 100%;
    color: var(--color-text);
}


/********************************************************************/


/****************************** Hood ******************************/


/********************************************************************/

.app .hood {
    margin: 50px 0;
}

.app .hood h1 {
    cursor: default;
    font-weight: 700;
    font-size: 100px;
    line-height: 117px;
    color: var(--color-text);
    transition: 400ms;
}

.app .hood h1 span {
    display: block;
}


/********************************************************************/


/****************************** Homepage ******************************/


/********************************************************************/

.app .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.app .content div {
    width: 50%;
    height: 410px;
    position: relative;
    overflow: hidden;
}

.app .content div a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.app .content div .picture {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.app .content div .picture img {
    height: 100%;
}

.app .content div .statement {
    width: 100%;
    height: auto;
    bottom: 0;
    position: absolute;
    padding: 25px 20px;
}

.app .content div .statement h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--color-text);
    transition: 400ms;
}

.app .content div.about {
    background-color: var(--color-orange);
    transition: 400ms;
}

.app .content div.about a {}

.app .content div.about .picture {
    right: -2vw;
}

.app .content div.about .picture img {}

.app .content div.about .statement {
    background: var(--color-orange-o);
    transition: 400ms;
}

.app .content div.about .statement h3 {}

.app .content div.projects {
    background-color: var(--color-red);
    transition: 400ms;
}

.app .content div.projects .picture {
    height: 80%;
    bottom: 8vh;
    left: 3vw;
}

.app .content div.projects .statement {
    background: var(--color-red-o);
    transition: 400ms;
}

.app .content div.certificates {
    background-color: var(--color-purple);
    transition: 400ms;
}

.app .content div.certificates .picture {
    left: 3vw;
}

.app .content div.certificates .statement {
    background: var(--color-purple-o);
    transition: 400ms;
}

.app .content div.contact {
    background-color: var(--color-green);
    transition: 400ms;
}

.app .content div.contact .picture {
    bottom: 3vh;
    left: 12vw;
    transform: rotate(0.94turn);
}

.app .content div.contact .picture img {
    height: 80%;
}

.app .content div.contact .statement {
    background: var(--color-green-o);
    transition: 400ms;
}

.app .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 200px 0 100px 0;
}

.app .social-media div {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: var(--color-hole);
    box-shadow: inset 0px 0px 5px var(--color-shadow);
    overflow: hidden;
    transition: 400ms;
}

.app .social-media div a {
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms all;
    transition: 400ms;
}

.app .social-media .linkedin {}

.app .social-media .linkedin a:hover,
.linkedin {
    background-color: var(--color-shadow);
    transition: 400ms;
}

.app .social-media .github {}

.app .social-media .github a:hover,
.github {
    background-color: var(--color-shadow);
    transition: 400ms;
}

.app .social-media .instagram {}

.app .social-media .instagram a:hover,
.instagram {
    background-color: var(--color-shadow);
    transition: 400ms;
}


/********************************************************************/


/****************************** Projects ******************************/


/********************************************************************/

.app .content-projects {
    width: 100%;
    height: 100vh;
    background: rgba(241, 241, 241, 0.54);
    border: 1px solid #FFFFFF;
    box-shadow: inset 0px 0px 5px var(--color-shadow);
    margin-top: 50px;
}