body.dark {
    main {
        // Navbar
        nav {
            .navbar {
                .logo {
                    a {
                        img {
                            &:nth-child(1) {
                                display: none;
                            }
                            &:nth-child(2) {
                                display: block;
                            }
                        }
                    }
                }
                .content {
                    .pages {
                        .page {
                            h6 {
                                color: map-get($color, "white");
                            }
                            &.active {
                                h6 {
                                    color: map-get($color, "orange");
                                }
                            }
                        }
                    }
                }
                &.change {
                    background-color: map-get($color, "black");
                    box-shadow: 0px 0px 5px rgba(251, 250, 245, 0.25);
                }
            }
        }
        // Homepage
        .homepage {
            background-color: map-get($color, "black");
            .text {
                .bottom {
                    h1 {
                        color: map-get($color, "white");
                    }
                }
            }
            .img {
                .shadow {
                    background: linear-gradient(359.93deg, #0A0F1B 0.06%, rgba(10, 15, 27, 0) 35.62%);
                }
            }
        }
        // About
        .about {
            background-color: map-get($color, "black");
            .personel-info {
                .hood {
                    h2 {
                        color: map-get($color, "white");
                    }
                }
                .content {
                    .right {
                        h4 {
                            span {
                                color: map-get($color, "white");
                                a {
                                    color: map-get($color, "white");
                                }
                            }
                        }
                    }
                    .left {
                        .top {
                            h4 {
                                color: map-get($color, "white");
                            }
                            h5 {
                                span {
                                    color: map-get($color, "white");
                                }
                            }
                        }
                        .bottom {
                            a {
                                color: map-get($color, "white");
                            }
                        }
                    }
                }
            }
            .skills {
                .hood {
                    h2 {
                        color: map-get($color, "white");
                    }
                }
                .content {
                    .skill {
                        .top {
                            h5 {
                                color: map-get($color, "white");
                            }
                        }
                        .bottom {
                            .circle {
                                border: 2px solid map-get($color, "black");
                            }
                        }
                    }
                }
            }
        }
        // Projects
        .projects-s {
            background-color: map-get($color, "black");
            .filter-links {
                .link {
                    h6 {
                        cursor: map-get($cursor-link, "d-link"), auto;
                        color: map-get($color, "white");
                    }
                    &.active {
                        h6 {
                            color: map-get($color, "orange");
                        }
                    }
                }
            }
            .projects-modals {
                .projects {
                    .project-box {
                        box-shadow: 0px 0px 8px rgba(251, 250, 245, 0.25);
                        a {
                            .hover {
                                color: map-get($color, "white");
                            }
                        }
                    }
                }
                .modals {
                    background: rgba(251, 250, 245, 0.2);
                    .modal {
                        background-color: map-get($color, "black");
                        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25);
                        .img {
                            border: 1px solid rgba(251, 250, 245, 0.2);
                        }
                        .content {
                            .hood {
                                h2 {
                                    color: map-get($color, "white");
                                }
                            }
                            .substance {
                                h4 {
                                    span {
                                        color: map-get($color, "white");
                                        a {
                                            color: map-get($color, "white");
                                        }
                                    }
                                }
                            }
                            .btns {
                                a {
                                    &:nth-child(1) {
                                        color: map-get($color, "white");
                                        span {
                                            svg {
                                                fill: map-get($color, "white");
                                            }
                                        }
                                    }
                                    &:nth-child(2) {
                                        color: map-get($color, "black");
                                        span {
                                            svg {
                                                fill: map-get($color, "black");
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        // Certificates
        .certificates-s {
            background-color: map-get($color, "black");
            .filter-links {
                .link {
                    h6 {
                        cursor: map-get($cursor-link, "d-link"), auto;
                        color: map-get($color, "white");
                    }
                    &.active {
                        h6 {
                            color: map-get($color, "orange");
                        }
                    }
                }
            }
            .certificates {
                .certificate-box {
                    box-shadow: 0px 0px 8px rgba(251, 250, 245, 0.25);
                    a {
                        .hover {
                            color: map-get($color, "white");
                        }
                    }
                }
            }
        }
        // Contact
        .contact {
            background-color: map-get($color, "black");
            .content {
                .right {
                    .top {
                        color: map-get($color, "white");
                        svg {
                            fill: map-get($color, "white");
                        }
                    }
                    .bottom {
                        a {
                            svg {
                                fill: map-get($color, "white");
                            }
                        }
                    }
                }
                .left {
                    color: map-get($color, "white");
                    .text {
                        h2 {
                            &::selection {
                                background-color: map-get($color, "white");
                            }
                        }
                        h5 {
                            span {
                                svg {
                                    fill: map-get($color, "white");
                                }
                            }
                            &::selection {
                                background-color: map-get($color, "white");
                            }
                        }
                    }
                    form {
                        input {
                            cursor: map-get($cursor-text, "d-text"), auto;
                            border-bottom: 2px solid map-get($color, "white");
                            color: map-get($color, "white");
                            &::placeholder {
                                color: map-get($color, "white");
                            }
                            &:-ms-input-placeholder {
                                color: map-get($color, "white");
                            }
                            &::-ms-input-placeholder {
                                color: map-get($color, "white");
                            }
                            &::selection {
                                background-color: map-get($color, "white");
                            }
                        }
                        button {
                            color: map-get($color, "black");
                            background-color: map-get($color, "white");
                        }
                    }
                }
            }
        }
        // Scroll Top
        .scroll-top {
            border: 2px solid map-get($color, "white");
            cursor: map-get($cursor-link, "d-link"), pointer;
            span {
                svg {
                    fill: map-get($color, "white");
                }
            }
        }
    }
    // Preloader
    #loader-container {
        background-color: map-get($color, "black");
    }
}

@include mediaQuery(768px) {
    // 490px
    body.dark {
        main {
            // Navbar
            .mobile-nav {
                background-color: map-get($color, "white");
                .logo {
                    img {
                        &:nth-child(1) {
                            display: none;
                        }
                        &:nth-child(2) {
                            display: block;
                        }
                    }
                }
                .content {
                    a {
                        svg {
                            fill: map-get($color, "black");
                        }
                    }
                    .settings {
                        .dark-lang {
                            background-color: map-get($color, "white");
                            .languages {
                                span {
                                    color: map-get($color, "black");
                                }
                            }
                            .dark-light-mode {
                                svg {
                                    fill: map-get($color, "black");
                                }
                            }
                        }
                    }
                }
            }
            // Homepage
            .homepage {
                .img {
                    border: 2px solid map-get($color, "white");
                }
            }
        }
    }
}