body {
    main {
        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 99;
            .navbar {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 45px 50px;
                transition: 400ms all;
                .logo {
                    width: 115px;
                    height: 30px;
                    overflow: hidden;
                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            &:nth-child(1) {
                                display: block;
                            }
                            &:nth-child(2) {
                                display: none;
                            }
                        }
                    }
                }
                .content {
                    display: flex;
                    align-items: center;
                    gap: 50px;
                    .pages {
                        display: flex;
                        gap: 30px;
                        .page {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            overflow: hidden;
                            h6 {
                                cursor: map-get($cursor-link, "l-link"), pointer;
                                font-size: 20px;
                                font-weight: map-get($font-weight, "m");
                                color: map-get($color, "black");
                                transition: 400ms;
                            }
                            span.line {
                                width: 100%;
                                height: 2px;
                                margin-left: -200%;
                                background-color: map-get($color, "orange");
                                transition: 400ms all;
                            }
                            &.active {
                                h6 {
                                    color: map-get($color, "orange");
                                }
                                span.line {
                                    width: 100%;
                                    height: 2px;
                                    margin-left: 0;
                                    background-color: map-get($color, "orange");
                                }
                            }
                            &:hover {
                                span.line {
                                    margin-left: -100%;
                                }
                            }
                        }
                    }
                    .settings {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        .languages {
                            cursor: map-get($cursor-link, "l-link"), pointer;
                            width: 30px;
                            height: 30px;
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            span {
                                font-size: 20px;
                                font-weight: map-get($font-weight, "b");
                                color: map-get($color, "orange");
                                position: absolute;
                                top: 0;
                                transition: 400ms all;
                                &:nth-child(1) {
                                    left: 0;
                                }
                                &:nth-child(2) {
                                    left: 100%;
                                }
                            }
                        }
                        .dark-light-mode {
                            cursor: map-get($cursor-link, "l-link"), pointer;
                            width: 25px;
                            height: 25px;
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            svg {
                                fill: map-get($color, "orange");
                                height: 25px;
                                position: absolute;
                                top: 0;
                                transition: 400ms all;
                                &:nth-child(1) {
                                    left: 0;
                                }
                                &:nth-child(2) {
                                    left: 100%;
                                }
                            }
                        }
                    }
                }
                &.change {
                    background-color: map-get($color, "white");
                    padding: 20px 50px;
                    box-shadow: 0px 0px 5px rgba(10, 15, 27, 0.25);
                    transition: 400ms;
                }
            }
        }
        .mobile-nav {
            display: none;
        }
    }
    &.en {
        nav {
            .navbar {
                .settings {
                    .languages {
                        span {
                            &:nth-child(1) {
                                left: -100% !important;
                            }
                            &:nth-child(2) {
                                left: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
    &.dark {
        main {
            nav {
                .navbar {
                    .content {
                        .pages {
                            .page {
                                h6 {
                                    cursor: map-get($cursor-link, "d-link"), pointer;
                                }
                            }
                        }
                    }
                    .settings {
                        .languages {
                            cursor: map-get($cursor-link, "d-link"), pointer;
                        }
                        .dark-light-mode {
                            cursor: map-get($cursor-link, "d-link"), pointer;
                            svg {
                                &:nth-child(1) {
                                    left: -100%;
                                }
                                &:nth-child(2) {
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include mediaQuery(1200px) {
    // 995px
}

@include mediaQuery(992px) {
    // 769px
    main {
        nav {
            .navbar {
                .logo {
                    width: 80px;
                    height: 20px;
                }
                .content {
                    gap: 20px;
                    .pages {
                        gap: 15px;
                        .page {
                            h6 {
                                font-size: 16px;
                            }
                        }
                    }
                    .settings {
                        gap: 10px;
                    }
                }
            }
        }
    }
}

@include mediaQuery(768px) {
    // 490px
    body {
        main {
            .mobile-nav {
                background-color: map-get($color, "black");
                display: flex;
                position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                width: 60px;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 100px 10px 50px 10px;
                border-radius: 0 10px 10px 0;
                z-index: 99;
                transition: 400ms;
                .logo {
                    width: max-content;
                    height: 30px;
                    overflow: hidden;
                    transform: rotate(270deg);
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        &:nth-child(1) {
                            display: block;
                        }
                        &:nth-child(2) {
                            display: none;
                        }
                    }
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        svg {
                            width: 25px;
                            fill: map-get($color, "white");
                            transition: 400ms;
                        }
                        &.active {
                            background-color: map-get($color, "orange");
                        }
                    }
                    .settings {
                        position: relative;
                        .dark-lang {
                            position: absolute;
                            display: flex;
                            top: 0;
                            background-color: map-get($color, "black");
                            height: 40px;
                            align-items: center;
                            gap: 20px;
                            padding: 5px 10px;
                            border-radius: 0 20px 20px 0;
                            left: -300%;
                            transition: 400ms all;
                            .languages {
                                display: flex;
                                width: 30px;
                                height: 30px;
                                overflow: hidden;
                                position: relative;
                                span {
                                    cursor: map-get($cursor-link, "l-link"), pointer;
                                    font-size: 20px;
                                    font-weight: map-get($font-weight, "b");
                                    color: map-get($color, "white");
                                    position: absolute;
                                    top: 0;
                                    transition: 400ms all;
                                    &:nth-child(1) {
                                        left: 0;
                                    }
                                    &:nth-child(2) {
                                        left: 100%;
                                    }
                                }
                            }
                            .dark-light-mode {
                                display: flex;
                                width: 25px;
                                height: 25px;
                                overflow: hidden;
                                position: relative;
                                svg {
                                    cursor: map-get($cursor-link, "l-link"), pointer;
                                    width: 25px;
                                    fill: map-get($color, "white");
                                    position: absolute;
                                    top: 0;
                                    transition: 400ms all;
                                    &:nth-child(1) {
                                        left: 0;
                                    }
                                    &:nth-child(2) {
                                        left: 100%;
                                    }
                                }
                            }
                        }
                        &.active {
                            .dark-lang {
                                left: 49px;
                            }
                        }
                    }
                }
            }
            nav {
                display: none;
            }
        }
        &.en {
            .mobile-nav {
                .content {
                    .settings {
                        .dark-lang {
                            .languages {
                                span {
                                    &:nth-child(1) {
                                        left: -100%;
                                    }
                                    &:nth-child(2) {
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.dark {
            .mobile-nav {
                .content {
                    .settings {
                        .dark-lang {
                            .languages {
                                span {
                                    cursor: map-get($cursor-link, "d-link"), pointer;
                                }
                            }
                            .dark-light-mode {
                                svg {
                                    cursor: map-get($cursor-link, "d-link"), pointer;
                                    &:nth-child(1) {
                                        left: -100%;
                                    }
                                    &:nth-child(2) {
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include mediaQuery(480px) {
    // 300px
    main {
        .mobile-nav {
            top: auto !important;
            bottom: 0 !important;
            width: 100vw !important;
            height: max-content !important;
            flex-direction: row !important;
            padding: 10px !important;
            border-radius: 10px 10px 0 0 !important;
            .logo {
                display: none;
            }
            .content {
                flex-direction: row !important;
                justify-content: space-between !important;
                width: 100% !important;
                gap: 0 !important;
                a {
                    width: 30px !important;
                    height: 30px !important;
                    svg {
                        width: 20px !important;
                    }
                }
                .settings {
                    .dark-lang {
                        flex-direction: column !important;
                        bottom: -300% !important;
                        top: auto !important;
                        left: auto !important;
                        right: -10px !important;
                        height: max-content !important;
                        padding: 10px !important;
                        border-radius: 10px 10px 0 0 !important;
                        .languages {
                            width: 25px !important;
                            height: 25px !important;
                            span {
                                font-size: 18px !important;
                            }
                        }
                        .dark-light-mode {
                            width: 20px !important;
                            height: 20px !important;
                            svg {
                                width: 20px !important;
                            }
                        }
                    }
                    &.active {
                        .dark-lang {
                            bottom: 100% !important;
                            left: auto !important;
                            right: -10px !important;
                        }
                    }
                }
            }
        }
    }
}