footer {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        gap: 40px;
        .footer-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            .logo {
                @include logoText;
            }
            h3 {
                font-size: 24px;
                font-weight: map-get($font-weight, "r");
                letter-spacing: 1px;
            }
        }
        .footer-middle {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            padding: 50px 30px;
            border-top: 1px solid map-get($color, "black");
            border-bottom: 1px solid map-get($color, "black");
            div {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h4 {
                    font-size: 21px;
                    font-weight: map-get($font-weight, "b");
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    font-size: 16px;
                    font-weight: map-get($font-weight, "r");
                    color: map-get($color, "black");
                    gap: 10px;
                    a {
                        color: map-get($color, "black");
                    }
                }
                &.footer-contact {
                    h4 {}
                    .text {
                        a {}
                        p {}
                        pre {
                            line-height: 25px;
                        }
                    }
                }
                &.footer-about {
                    h4 {}
                    .text {
                        a {}
                    }
                }
                &.footer-social {
                    h4 {}
                    .text {
                        a {}
                    }
                }
                &.footer-contact-us {
                    h4 {}
                    .text {
                        a {
                            figure {
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer-bottom {
            margin-bottom: 50px;
            h5 {
                font-size: 16px;
                font-weight: map-get($font-weight, "r");
            }
        }
    }
}