$color:( "white": #FBFAF5, "white-0.5": rgba(251, 250, 245, 0.5), "black": #383E42, "black-0.5": rgba(56, 62, 66, 0.5), "black-0.25": rgba(56, 62, 66, 0.25), "gold": #FFDB51, "gold-0.7": rgba(255, 219, 81, 0.7), "gold-0.25": rgba(255, 219, 81, 0.25), "goldHover": #FFCB00, "green": #28D146, "greenHover": #14852B);
$font: 'Poppins',
sans-serif;
$font-weight: ("t": 300, "r": 400, "m": 500, "b":700);