/* 1201 */

:root {
    --d-color-background: #121212;
    --d-color-main: #24292E;
    --d-color-text: #CED2D6;
    --d-color-innerpage-text: #CED2D6;
    --d-color-orange: #D97319;
    --d-color-orange-o: rgba(186, 102, 20, 0.6);
    --d-color-red: #8F0031;
    --d-color-red-o: rgba(113, 0, 39, 0.6);
    --d-color-purple: #027185;
    --d-color-purple-o: rgba(2, 83, 103, 0.6);
    --d-color-green: #006644;
    --d-color-green-o: rgba(0, 72, 58, 0.6);
    --d-color-darkBlue: #00239C;
    --d-color-hole: #1B1F23;
    --d-color-skills: #121212;
    --d-color-shadow: rgba(255, 255, 255, 0.25);
    --d-innerpage-color-background: #242729;
    --d-innerpage-color-shadow: #525D67;
    --d-color-socialmedia-border: rgba(255, 255, 255, 0.25);
    --d-color-projects-background: rgba(36, 41, 36, 0.6);
    --d-color-innerpage-background: rgba(36, 41, 46, 0.54);
    --d-scroll-background: #242729;
    --d-scroll-thumb-background: rgba(206, 210, 214, 0.5);
    --d-scroll-thumb-background-hover: #2570EF;
    --d-url-background: url("./../../img/darkMode/darkWall.png");
    --d-url-hanger: url("./../../img/darkMode/askiDarkWall.png");
}

.app.dark {
    background-image: var(--d-url-background);
}

.app.dark .background {
    background-color: var(--d-color-background);
    box-shadow: 0px 10px 10px var(--d-color-shadow);
}

.app.dark .main {
    background-color: var(--d-color-main);
}

.app.dark header .logo {
    background: var(--d-color-hole);
    box-shadow: inset 0px 0px 10px var(--d-color-shadow);
}

.app.dark header .picture {
    background-image: var(--d-url-hanger);
}

.app.dark header .options div {
    background: var(--d-color-hole);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
}

.app.dark header .options .langs a {
    color: var(--d-color-text);
}

.app.dark header .options .langs a:hover,
.langs {
    background: var(--d-color-shadow);
}

.app.dark header .options .dark-light-mode a {
    color: var(--d-color-text);
}

.app.dark header .options .dark-light-mode a:hover,
.dark-light-mode {
    background-color: var(--d-color-shadow);
}

.app.dark .fix-header.change {
    background-color: var(--d-color-background);
}

.app.dark .fix-header .page:nth-child(1) {
    background-color: var(--d-color-darkBlue);
}

.app.dark .fix-header .page:nth-child(2) {
    background-color: var(--d-color-orange);
}

.app.dark .fix-header .page:nth-child(3) {
    background-color: var(--d-color-red);
}

.app.dark .fix-header .page:nth-child(4) {
    background-color: var(--d-color-purple);
}

.app.dark .fix-header .page:nth-child(5) {
    background-color: var(--d-color-green);
}

.app.dark .fix-header .page a {
    color: var(--d-color-text);
}

.app.dark .hood h1 {
    color: var(--d-color-text);
}

.app.dark .content div .statement h3 {
    color: var(--d-color-text);
}

.app.dark .content div.about {
    background-color: var(--d-color-orange);
}

.app.dark .content div.about .statement {
    background: var(--d-color-orange-o);
}

.app.dark .content div.projects {
    background-color: var(--d-color-red);
}

.app.dark .content div.projects .statement {
    background: var(--d-color-red-o);
}

.app.dark .content div.certificates {
    background-color: var(--d-color-purple);
}

.app.dark .content div.certificates .statement {
    background: var(--d-color-purple-o);
}

.app.dark .content div.contact {
    background-color: var(--d-color-green);
}

.app.dark .content div.contact .statement {
    background: var(--d-color-green-o);
}

.app.dark .social-media div {
    background: var(--d-color-hole);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
}

.app.dark .social-media div a {
    color: var(--d-color-text);
}

.app.dark .social-media .linkedin a:hover,
.linkedin {
    background-color: var(--d-color-shadow);
}

.app.dark .social-media .github a:hover,
.github {
    background-color: var(--d-color-shadow);
}

.app.dark .social-media .instagram a:hover,
.instagram {
    background-color: var(--d-color-shadow);
}

.app.dark .content-about {
    background: var(--d-color-innerpage-background);
    border: 1px solid var(--d-color-background);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
}

.app.dark .content-about .personel-info .personel-info-hood,
.app.dark .content-about .skills .skills-info-hood,
.app.dark .content-about .timeline .timeline-info-hood {
    background: var(--d-innerpage-color-background);
    border: 1px solid var(--d-color-socialmedia-border);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
}

.app.dark .content-about .personel-info .personel-info-hood h3,
.app.dark .content-about .skills .skills-info-hood h3,
.app.dark .content-about .timeline .timeline-info-hood h3 {
    color: var(--d-color-innerpage-text);
}

.app.dark .content-about .personel-info .personel-info-content .personel-data .personel-data-content {
    background: var(--d-innerpage-color-background);
    border: 1px solid var(--d-color-socialmedia-border);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
}

.app.dark .content-about .personel-info .personel-info-content .personel-data .personel-data-content h5 {
    color: var(--d-color-innerpage-text);
}

.app.dark .content-about .personel-info .personel-info-content .personel-data .personel-data-content .second-content .data-social-media span a {
    border: 1px solid var(--d-color-socialmedia-border);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
    color: var(--d-color-innerpage-text);
}

.app.dark .content-about .personel-info .personel-info-content .personel-data .personel-data-content .second-content .data-social-media span a:hover {
    background-color: var(--d-innerpage-color-shadow);
}

.app.dark .content-about .personel-info .personel-info-content .personel-data .download-cv a {
    background: var(--d-innerpage-color-background);
    border: 2px solid var(--d-color-socialmedia-border);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
    color: var(--d-color-innerpage-text);
}

.app.dark .content-about .personel-info .personel-info-content .personel-data .download-cv a:hover {
    border: 2px solid var(--d-color-innerpage-text);
}

.app.dark .content-about .personel-info .personel-info-content .picture {
    background: var(--d-innerpage-color-background);
    border: 1px solid var(--d-color-socialmedia-border);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
}

.app.dark .content-about .skills .skills-content {
    background: var(--d-innerpage-color-background);
    border: 1px solid var(--d-color-socialmedia-border);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
}

.app.dark .content-about .skills .skills-content .skill span.percent-pie {
    color: var(--d-color-innerpage-text);
    border: 1px solid var(--d-color-skills);
    background: radial-gradient(var(--d-innerpage-color-background) 0%, var(--d-innerpage-color-background) 65%, var(--d-color-skills) 100%) content-box, linear-gradient(var(--v), var(--d-innerpage-color-background) 50%, transparent 0) 0/min(100%, (50 - var(--p))*100%), linear-gradient(var(--v), transparent 50%, var(--d-color-skills) 0) 0/min(100%, (var(--p) - 50)*100%), linear-gradient(to right, var(--d-innerpage-color-background) 50%, var(--d-color-skills) 0);
}

.app.dark .content-about .skills .skills-content .skill h3 {
    color: var(--d-color-innerpage-text);
}

.app.dark .content-about .timeline .timeline-content {
    background: var(--d-innerpage-color-background);
    border: 1px solid var(--d-color-socialmedia-border);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
}

.app.dark .content-about .timeline .timeline-content h1 {
    -webkit-text-stroke: var(--d-color-innerpage-text);
    color: transparent;
    -webkit-text-stroke-width: 2px;
    font-size: 50px;
}

.app.dark .content-projects {
    background: var(--d-color-innerpage-background);
    border: 1px solid var(--d-color-background);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
}

.app.dark .content-projects .project {
    border: 2px solid var(--d-color-main);
}

.app.dark .content-projects .project.active .content-project .hood-project span {
    color: var(--d-color-text);
}

.app.dark .content-projects .project .picture .hover {
    background: var(--d-color-projects-background);
    color: var(--d-color-text);
}

.app.dark .content-projects .project .content-project {
    background: var(--d-color-projects-background);
}

.app.dark .content-projects .project .content-project h3 {
    color: var(--d-color-text);
}

.app.dark .content-projects .project .content-project h5 {
    color: var(--d-color-text);
}

.app.dark .content-projects .project .content-project h5 span,
.app.dark .content-projects .project .content-project h5 a {
    color: var(--d-color-text);
}

.app.dark .content-projects .project .content-project h5 span a {
    color: var(--d-color-text);
}

.app.dark .content-certificates {
    background: var(--d-color-innerpage-background);
    border: 1px solid var(--d-color-background);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
}

.app.dark .content-certificates .certificate {
    border: 2px solid var(--d-color-main);
}

.app.dark .content-certificates .certificate .picture .hover {
    background: var(--d-color-projects-background);
    color: var(--d-color-text);
}

.app.dark .content-contact {
    background: var(--d-color-innerpage-background);
    border: 1px solid var(--d-color-background);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
}

.app.dark .content-contact form input,
.app.dark .content-contact form textarea {
    background: var(--d-innerpage-color-background);
    border: 2px solid var(--d-color-socialmedia-border);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
    color: var(--d-color-innerpage-text);
}

.app.dark .content-contact form input:focus,
.app.dark .content-contact form textarea:focus {
    border: 2px solid var(--d-color-innerpage-text);
}

.app.dark .content-contact form label {
    color: var(--d-color-innerpage-text);
}

.app.dark #status,
.app.dark #status-en {
    color: var(--d-color-darkBlue);
}

.app.dark .content-contact form .btn button {
    background: var(--d-innerpage-color-background);
    border: 2px solid var(--d-color-socialmedia-border);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
    color: var(--d-color-innerpage-text);
}

.app.dark .content-contact form .btn button:hover {
    border: 2px solid var(--d-color-innerpage-text);
}

.app.dark .content-contact .social-medias div {
    background: var(--d-innerpage-color-background);
    border: 1px solid var(--d-color-socialmedia-border);
    box-shadow: inset 0px 0px 5px var(--d-color-shadow);
}

.app.dark .content-contact .social-medias div a {
    color: var(--d-color-innerpage-text);
}

.app.dark .content-contact .social-medias .mail-social a:hover,
.mail-social,
.app.dark .content-contact .social-medias .linkedin a:hover,
.linkedin,
.app.dark .content-contact .social-medias .github a:hover,
.github,
.app.dark .content-contact .social-medias .instagram a:hover,
.instagram {
    background-color: var(--d-innerpage-color-shadow);
}