main {
    .certificates-s {
        max-width: 100vw;
        min-height: 100vh;
        padding: 200px 50px 100px 50px;
        background-color: map-get($color, "white");
        .filter-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .link {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                h6 {
                    cursor: map-get($cursor-link, "l-link"), auto;
                    font-size: 16px;
                    font-weight: map-get($font-weight, "m");
                    color: map-get($color, "black");
                }
                .underline {
                    width: 100%;
                    height: 2px;
                    background-color: map-get($color, "orange");
                    margin-left: -100%;
                    transition: 400ms all;
                }
                &:hover {
                    .underline {
                        margin-left: -50%;
                    }
                }
                &.active {
                    h6 {
                        color: map-get($color, "orange");
                    }
                    .underline {
                        margin-left: 0;
                    }
                }
            }
        }
        .certificates {
            margin-top: 100px;
            display: flex;
            gap: 50px;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
            .certificate-box {
                display: none;
                width: 25vw;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0px 0px 8px rgba(10, 15, 27, 0.25);
                position: relative;
                a {
                    .img {
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .hover {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: -100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                        font-weight: map-get($font-weight, "b");
                        line-height: 36px;
                        color: map-get($color, "black");
                        background: linear-gradient(88.74deg, rgba(10, 15, 27, 0.4) 20.91%, rgba(10, 15, 27, 0.1) 81%);
                        backdrop-filter: blur(20px);
                        text-align: center;
                        transition: 400ms all;
                        &.dark {
                            color: map-get($color, "white");
                        }
                    }
                }
                &:hover {
                    .hover {
                        left: 0;
                    }
                }
                &.active {
                    display: block;
                }
            }
        }
    }
}

@include mediaQuery(992px) {
    // 769px
    main {
        .certificates-s {
            .certificates {
                .certificate-box {
                    width: 40vw;
                }
            }
        }
    }
}

@include mediaQuery(768px) {
    // 490px
    main {
        .certificates-s {
            padding: 70px 50px 50px 110px;
            .filter-links {
                gap: 25px;
                .link {
                    h6 {
                        font-size: 12px;
                    }
                }
            }
            .certificates {
                .certificate-box {
                    width: 100vw;
                }
            }
        }
    }
}

@include mediaQuery(480px) {
    // 300px
    main {
        .certificates-s {
            padding: 70px 10px 70px 10px;
            .filter-links {
                flex-wrap: wrap;
                row-gap: 10px;
            }
        }
    }
}