main {
    .contact {
        max-width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: map-get($color, "white");
        padding: 150px 50px 100px 50px;
        .content {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                .top {
                    color: map-get($color, "black");
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    svg {
                        height: 20px;
                        margin-top: 5px;
                        fill: map-get($color, "black");
                    }
                    .text {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        h2 {
                            font-size: 24px;
                            font-weight: map-get($font-weight, "b");
                        }
                        h4 {
                            font-size: 16px;
                            font-weight: map-get($font-weight, "m");
                        }
                    }
                    .email {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        gap: 10px;
                    }
                    .adress {
                        @extend .email
                    }
                    .phone {
                        @extend .email
                    }
                }
                .bottom {
                    display: flex;
                    gap: 50px;
                    a {
                        height: 25px;
                        svg {
                            height: 25px;
                            fill: map-get($color, "black");
                        }
                    }
                }
            }
            .left {
                font-size: 16px;
                line-height: 24px;
                color: map-get($color, "black");
                padding: 30px 50px;
                background-color: map-get($color, "orange");
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                border-radius: 20px;
                width: 50vw;
                min-height: 100%;
                .text {
                    font-weight: map-get($font-weight, "m");
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    h2 {
                        font-size: 48px;
                        line-height: 72px;
                        &::selection {
                            background-color: map-get($color, "black");
                            color: map-get($color, "orange");
                        }
                    }
                    h5 {
                        font-size: 16px;
                        font-weight: map-get($font-weight, "m");
                        span {
                            svg {
                                fill: map-get($color, "black");
                                height: 16px;
                            }
                        }
                        &::selection {
                            background-color: map-get($color, "black");
                            color: map-get($color, "orange");
                        }
                    }
                }
                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 20px;
                    input {
                        cursor: map-get($cursor-text, "l-text"), auto;
                        padding: 10px;
                        font-family: $font;
                        font-size: 16px;
                        background-color: transparent;
                        border: none;
                        border-bottom: 2px solid map-get($color, "black");
                        font-weight: map-get($font-weight, "m");
                        color: map-get($color, "black");
                        &::placeholder {
                            color: map-get($color, "black");
                            opacity: 1;
                        }
                        &:-ms-input-placeholder {
                            color: map-get($color, "black");
                            opacity: 1;
                        }
                        &::-ms-input-placeholder {
                            color: map-get($color, "black");
                            opacity: 1;
                        }
                        &::selection {
                            background-color: map-get($color, "black");
                            color: map-get($color, "orange");
                        }
                    }
                    textarea {
                        @extend input;
                        resize: none;
                        height: 100px;
                    }
                    button {
                        letter-spacing: 0.15em;
                        color: map-get($color, "white");
                        padding: 10px;
                        background-color: map-get($color, "black");
                        font-weight: map-get($font-weight, "b");
                        font-size: 16px;
                        font-family: $font;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

@include mediaQuery(992px) {
    // 769px
    main {
        .contact {
            padding: 150px 50px 50px 50px;
            height: max-content;
            .content {
                flex-direction: column;
                justify-content: space-between;
                gap: 50px;
                .right {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .bottom {
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 30px;
                    }
                }
                .left {
                    width: 100%;
                }
            }
        }
    }
}

@include mediaQuery(768px) {
    // 490px
    main {
        .contact {
            padding: 70px 50px 10px 110px;
            .content {
                .right {
                    .top {
                        gap: 30px;
                        .text {
                            h2 {
                                font-size: 20px;
                            }
                            h4 {
                                font-size: 12px;
                            }
                        }
                        span {
                            margin-top: 3px;
                        }
                    }
                    .bottom {
                        gap: 20px;
                    }
                }
                .left {
                    padding: 30px 20px;
                    .text {
                        h2 {
                            font-size: 40px;
                            line-height: 60px;
                        }
                    }
                }
            }
        }
    }
}

@include mediaQuery(480px) {
    // 300px
    main {
        .contact {
            padding: 70px 10px 70px 10px;
            .content {
                .right {
                    .top {
                        .text {
                            h4 {
                                font-size: 10px;
                            }
                        }
                        .email {
                            gap: 5px;
                        }
                    }
                }
                .left {
                    border-radius: 10px;
                    .text {
                        h5 {
                            font-size: 12px;
                        }
                    }
                    form {
                        input {
                            font-size: 12px;
                            padding: 5px;
                        }
                        button {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}