main {
    .homepage {
        max-width: 100vw;
        height: 100vh;
        background-color: map-get($color, "white");
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 150px 200px 50px 50px;
        transition: 400ms;
        .text {
            max-width: 560px;
            .top {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                .line {
                    width: 40%;
                    height: 2px;
                    background-color: map-get($color, "orange");
                }
                .typewrite {
                    font-size: 20px;
                    font-weight: map-get($font-weight, "m");
                    color: map-get($color, "orange");
                    .wrap {
                        border-right: 0.08em solid map-get($color, "orange");
                    }
                }
            }
            .bottom {
                h1 {
                    font-size: 50px;
                    font-weight: map-get($font-weight, "b");
                    line-height: 75px;
                    letter-spacing: 0.1em;
                    color: map-get($color, "black");
                    transition: 400ms;
                }
            }
        }
        .img {
            position: relative;
            width: 380px;
            height: 500px;
            overflow: hidden;
            .shadow {
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(359.93deg, #FBFAF5 0.06%, rgba(251, 250, 245, 0) 36.52%);
                transition: 400ms;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@include mediaQuery(1200px) {
    // 995px
    main {
        .homepage {
            .img {
                width: 100%;
                height: 500px;
            }
        }
    }
}

@include mediaQuery(992px) {
    // 769px
    main {
        .homepage {
            padding: 150px 50px 50px 50px;
            gap: 20px;
            .text {
                .bottom {
                    h1 {
                        font-size: 40px;
                    }
                }
            }
            .img {
                width: 100%;
                height: 350px;
            }
        }
    }
}

@include mediaQuery(768px) {
    // 490px
    main {
        .homepage {
            flex-direction: column-reverse;
            padding: 70px 50px 10px 110px;
            justify-content: flex-end;
            gap: 50px;
            .text {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .top {
                    flex-direction: column-reverse;
                    gap: 0;
                    .line {
                        width: 70%;
                    }
                }
                .bottom {
                    h1 {
                        font-size: 30px;
                        text-align: center;
                        line-height: 45px;
                    }
                }
            }
            .img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background: linear-gradient(257.03deg, #FFA621 0%, #DECBA4 100%);
                border: 2px solid map-get($color, "black");
                transition: 400ms;
                .shadow {
                    display: none;
                }
            }
        }
    }
}

@include mediaQuery(480px) {
    // 300px
    main {
        .homepage {
            padding: 70px 10px 0 10px;
        }
    }
}