main {
    .projects-s {
        max-width: 100vw;
        min-height: 100vh;
        padding: 200px 50px 100px 50px;
        background-color: map-get($color, "white");
        .filter-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .link {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                h6 {
                    cursor: map-get($cursor-link, "l-link"), auto;
                    font-size: 16px;
                    font-weight: map-get($font-weight, "m");
                    color: map-get($color, "black");
                }
                .underline {
                    width: 100%;
                    height: 2px;
                    background-color: map-get($color, "orange");
                    margin-left: -100%;
                    transition: 400ms all;
                }
                &:hover {
                    .underline {
                        margin-left: -50%;
                    }
                }
                &.active {
                    h6 {
                        color: map-get($color, "orange");
                    }
                    .underline {
                        margin-left: 0;
                    }
                }
            }
        }
        .projects-modals {
            .projects {
                margin-top: 100px;
                display: flex;
                gap: 50px;
                flex-wrap: wrap;
                justify-content: center;
                flex-direction: row;
                .project-box {
                    display: none;
                    width: 25vw;
                    border-radius: 10px;
                    overflow: hidden;
                    box-shadow: 0px 0px 8px rgba(10, 15, 27, 0.25);
                    position: relative;
                    a {
                        .img {
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .hover {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: -100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 24px;
                            font-weight: map-get($font-weight, "b");
                            line-height: 36px;
                            color: map-get($color, "black");
                            background: linear-gradient(88.74deg, rgba(10, 15, 27, 0.4) 20.91%, rgba(10, 15, 27, 0.1) 81%);
                            backdrop-filter: blur(20px);
                            transition: 400ms all;
                            &.dark {
                                color: map-get($color, "white");
                            }
                        }
                    }
                    &:hover {
                        .hover {
                            left: 0;
                        }
                    }
                    &.active {
                        display: block;
                    }
                }
            }
            .modals {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999;
                width: 100vw;
                height: 100vh;
                background-color: rgba(10, 15, 27, 0.2);
                overflow: hidden;
                padding: 20px;
                display: none;
                opacity: 0;
                transition: 400ms all;
                .modal {
                    width: 40vw;
                    height: 95%;
                    background-color: map-get($color, "white");
                    position: absolute;
                    top: 0;
                    left: -100%;
                    margin: 20px;
                    padding: 10px;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
                    transition: 400ms all;
                    .img {
                        overflow: hidden;
                        border-radius: 10px;
                        border: 1px solid rgba(10, 15, 27, 0.2);
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .content {
                        display: flex;
                        flex-direction: column;
                        height: 50%;
                        justify-content: space-between;
                        .hood {
                            display: flex;
                            flex-direction: column;
                            h2 {
                                font-size: 24px;
                                font-weight: map-get($font-weight, "b");
                                color: map-get($color, "black");
                                span {
                                    color: map-get($color, "orange");
                                }
                            }
                            .underline {
                                height: 2px;
                                width: 50px;
                                background: map-get($color, "orange");
                            }
                        }
                        .substance {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            h4 {
                                font-size: 16px;
                                font-weight: map-get($font-weight, "b");
                                color: map-get($color, "orange");
                                span {
                                    font-weight: map-get($font-weight, "r");
                                    color: map-get($color, "black");
                                    a {
                                        color: map-get($color, "black");
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        .btns {
                            display: flex;
                            gap: 20px;
                            a {
                                display: flex;
                                padding: 10px;
                                width: 100%;
                                border-radius: 10px;
                                align-items: center;
                                justify-content: center;
                                font-size: 16px;
                                font-weight: map-get($font-weight, "b");
                                letter-spacing: 0.15em;
                                line-height: 24px;
                                gap: 10px;
                                span {
                                    display: flex;
                                    svg {
                                        width: 18px;
                                    }
                                }
                                &:nth-child(1) {
                                    border: 2px solid map-get($color, "orange");
                                    color: map-get($color, "black");
                                    span {
                                        svg {
                                            fill: map-get($color, "black");
                                        }
                                    }
                                }
                                &:nth-child(2) {
                                    background-color: map-get($color, "orange");
                                    color: map-get($color, "white");
                                    span {
                                        svg {
                                            fill: map-get($color, "white");
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.active {
                    display: block;
                    opacity: 1;
                    .modal.active {
                        left: 0;
                    }
                }
            }
        }
    }
}

@include mediaQuery(992px) {
    // 769px
    main {
        .projects-s {
            .projects-modals {
                .projects {
                    .project-box {
                        width: 40vw;
                    }
                }
            }
        }
    }
}

@include mediaQuery(768px) {
    // 490px
    main {
        .projects-s {
            padding: 70px 50px 50px 110px;
            .filter-links {
                gap: 25px;
                .link {
                    h6 {
                        font-size: 12px;
                    }
                }
            }
            .projects-modals {
                .projects {
                    .project-box {
                        width: 100vw;
                    }
                }
                .modals {
                    .modal {
                        width: 92vw;
                    }
                }
            }
        }
    }
}

@include mediaQuery(480px) {
    // 300px
    main {
        .projects-s {
            padding: 70px 10px 70px 10px;
            .filter-links {
                flex-wrap: wrap;
                row-gap: 10px;
            }
            .projects-modals {
                .modals {
                    padding: 0;
                    .modal {
                        width: 100vw;
                        height: 100vh;
                        margin: 0;
                    }
                }
            }
        }
    }
}