$color:( "white": #fbf5f9, "black": #1b0a13, "main": rgb(232, 141, 184), "main2":#ffb004, "main3": rgb(103, 13, 23));
$font: ('Roboto', sans-serif);
$logo-font:('Sigmar', cursive);
$title-font:('Suez One', serif);
$font-weight: ("t": 300, "r": 400, "m": 500, "b":700);