$color:( "white": #FBFAF5, "black": #0A0F1B, "orange": #FFA621, "orange-d": #ffa62180, "orange-dd": #ffa62146);
$font: ('Poppins', sans-serif);
$font-weight: ("r": 400, "m": 500, "b":700);
$cursor-default:("l-default": url("/img/icon/cursor/l-default.svg"),
"d-default": url("/img/icon/cursor/d-default.svg"));
$cursor-link:("l-link": url("/img/icon/cursor/l-link.svg"),
"d-link": url("/img/icon/cursor/d-link.svg"));
$cursor-text:("l-text": url("/img/icon/cursor/l-text.svg"),
"d-text": url("/img/icon/cursor/d-text.svg"));