main {
    .join-our-team {
        width: 700px;
        padding: 150px 0 0 100px;
        margin-bottom: 150px;
        .text {
            color: map-get($color, "black");
            h2 {
                font-size: 21px;
                font-weight: map-get($font-weight, "r");
            }
            h1 {
                font-family: $title-font;
                font-size: 50px;
                font-weight: map-get($font-weight, "r");
                margin: 10px 0 20px 0;
            }
            p {
                font-size: 18px;
                font-weight: map-get($font-weight, "r");
                line-height: 24px;
                letter-spacing: 1px;
            }
        }
    }
    .open-positions {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 100px;
        background-color: map-get($color, "main");
        padding: 90px 100px;
        gap: 50px;
        h1 {
            font-family: $title-font;
            font-size: 50px;
            font-weight: map-get($font-weight, "r");
            color: map-get($color, "black");
        }
        .positions {
            display: flex;
            gap: 50px;
            .position {
                a {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    figure {
                        width: 100%;
                        height: 200px;
                        background-color: white;
                        border-radius: 20px;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            transform: scale(1);
                            transition: 700ms;
                        }
                    }
                    .text {
                        color: map-get($color, "black");
                        h4 {
                            font-size: 21px;
                            font-weight: map-get($font-weight, "b");
                        }
                        h6 {
                            font-size: 16px;
                            font-weight: map-get($font-weight, "m");
                            margin-top: 5px;
                        }
                        p {
                            font-size: 16px;
                            font-weight: map-get($font-weight, "m");
                            margin-top: 20px;
                            line-height: 22px;
                        }
                    }
                    .btn {
                        width: 100%;
                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            color: map-get($color, "white");
                            background-color: map-get($color, "main3");
                            font-size: 16px;
                            font-weight: map-get($font-weight, "m");
                            padding: 15px;
                            border-radius: 10px;
                            &:hover {
                                background-color: #20181d;
                            }
                        }
                    }
                    &:hover {
                        figure {
                            img {
                                transform: scale(1.05);
                            }
                        }
                    }
                }
            }
        }
    }
    .send-cv {
        margin: 0 100px;
        height: 500px;
        overflow: hidden;
        padding: 158px 0 0 100px;
        position: relative;
        background-color: map-get($color, "black");
        &::before {
            content: "";
            background-image: url("../../img/sendCV.jpg");
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.9;
        }
        .text {
            width: 100%;
            height: 100%;
            color: map-get($color, "black");
            h2 {
                font-size: 21px;
                font-weight: map-get($font-weight, "r");
            }
            h1 {
                font-family: $title-font;
                font-size: 50px;
                font-weight: map-get($font-weight, "r");
                margin: 0px 0 40px 0;
            }
            .btn {
                a {
                    background-color: map-get($color, "main2");
                    color: map-get($color, "black");
                    font-size: 16px;
                    font-weight: map-get($font-weight, "m");
                    padding: 17px 15px;
                    border-radius: 7px;
                }
            }
        }
    }
}